{% extends 'base.html' %}

{% block title %}Bron Muvaffaqiyatli{% endblock %}

{% block content %}
<div class="container mt-5 text-center">
  <div class="alert alert-success shadow-sm" role="alert">
    <h4 class="alert-heading"> Bron muvaffaqiyatli bajarildi!</h4>
    <p>
      <strong>{{ user.first_name|default:user.username }}</strong>,
      siz <strong>{{ room.title }}</strong> xonasini muvaffaqiyatli band qildingiz.
    </p>
    <hr>
    <p class="mb-0">Bron tugash vaqti: <strong>{{ deal.end_time|date:"d-m-Y H:i" }}</strong></p>
  </div>

  <a href="{% url 'home' %}" class="btn btn-outline-primary mt-3"> Bosh sahifaga qaytish</a>
</div>
{% endblock %}
